.Text {
}

.title {
	font-size: var(--font-size-l);
}

.red {
	color: var(--red);
}

.text {
	font-size: inherit;
}

.large {
	font-size: var(--font-size-l);
}

.small {
	font-size: var(--font-size-m);
}

.tiny {
	font-size: var(--font-size-t);
}
