.Input_wrapper {
	margin-bottom: 20px;
	text-align: center;
}

.Input {
	outline: none;
	height: 38px;
}

.circle {
	border: 1px solid transparent;
	border-radius: 20px;
	padding: 10px 20px;
	&:focus {
		border: 1px solid #1313ff;
	}
}

.label {
	display: inline-block;
	width: 8%;
	margin-right: 10px;
}

.readOnly {
	opacity: 0.7;
}
