.Input {
	outline: none;
	height: 38px;
	display: block;
}

.circle {
	border: 1px solid transparent;
	border-radius: 20px;
	padding: 8px 20px;
	margin-bottom: 20px;
	&:focus {
		border: 1px solid #1313ff;
	}
}

.square {
}

.readOnly {
	opacity: 0.7;
}
