.Navbar {
	height: auto;
	padding: 10px 30px;
	background: var(--inverted-bg-color);
}

.wrapper {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 40px;

	a {
		margin: 0;
	}
}

.link {
	text-decoration: none;
	color: var(--inverted-primary-color);
}

.menu {
	position: relative;
}

.menuList {
	position: absolute;
	top: 50px;
	right: -20px;
	z-index: 2;
	display: flex;
	flex-direction: column;
	gap: 5px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	background: var(--inverted-bg-color);
	width: 100px;
	height: 100px;
}

.menuItem {
	text-align: center;
	list-style: none;
	a {
		text-decoration: none;
	}
}
